#header {
    padding: 32px 160px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-family: 'Pretendard', sans-serif;
    gap: 80px;
    border-bottom: 1px solid #E7E7E7;

    >img{
        cursor: pointer;
    }

    .c {
        display: flex;
        flex-direction: row;
        gap: 20px;

        >div,
        img {
            cursor: pointer;
            text-wrap: nowrap;
        }

        .avatar {
            width: 40px;
            height: 40px;
            border-radius: 99px;
            background-image: url('../../assets/image/avatar.svg');
            background-size: cover;
            background-position: center;
            position: relative;

            .badge {
                position: absolute;
                top: -8px;
                left: -12px;
                width: 30px;
                height: 20px;
                background-image: url('../../assets/image/dot.svg');
                background-size: contain;
                background-repeat: no-repeat;
            }
        }
    }

    .t {
        display: flex;
        width: 100%;
        flex-direction: row;
        gap: 40px;
        font-size: 22px;
        font-weight: 500;

        >div {
            cursor: pointer;
        }
    }
}